.container {
  width: 80%;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
}

.buttonStyles {
  margin: 10px auto;
  background-color: rgb(145, 142, 142);
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: -2px -2px 3px;
}

.buttonStyles:hover {
  background-color: rgb(36, 34, 34);
  color: rgb(243, 235, 235);
}

.ulStyles {
  list-style: none;
}

.ulStyles > li {
  display: block;
  margin: 10px auto;
}
